:root{
    --colo-white: #ededed;
    --color-violet: #8919b5;
    --color-black: #131313;
    --color-brown: #95330f;
}
body{
    background-color: var(--colo-white);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.container{
    margin: 0 auto;
    width: 85%;
    max-width: 1400px;
}
li{
    list-style: none;
}
.navegacion{
    padding: 2.5rem;
    background-color: var(--color-black);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colo-white);

}
.title{
    font-size: 3.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-brown);
}
.nav__ul{
    display: flex;
    gap: 1.7rem;
}
.nav__link{
    color: var(--colo-white);
    font-size: 2rem;
    text-decoration: none;
    transition: .3s ease-out;
}
.nav__link:hover {
    opacity: .8;
}
/* Heroe */
.heroe{
    width: 100%;
    height: 85vh;
    background: url(./assets/heroe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.heroe::before{
    content: 'Los Mejores Sabores';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    place-content: center;
    background-color: #000000ac;
    color: var(--colo-white);
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
                5px 5px 10px rgba(0, 0, 0, 0.705),
                5px 5px 10px rgba(0, 0, 0, 0.89);

}
/* presentation */
.presentation{
    padding: 5rem 0;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.presentation__title{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1rem solid var(--color-brown);
    display: inline-block;
}
.presentation__p{
    line-height: 1.5;
    font-size: 2rem;
}
.presentation__link{
    padding: 2rem;
    margin: 2rem 0;
    border-radius: .5rem;
    background-color: var(--color-black);
    color: var(--colo-white);
    font-size: 1.5rem;
}
.presentation__img{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 1.5rem #3b3a3a;
    min-width: 25rem;
}
.presentation__img__slider{
    display: grid;
    place-content: center;
    transition: .3s linear;
}